
h1 {
font-size: 45px;
}
img {
max-width: 100%;
}
body {
padding: 0px;
margin: 0px;
}
span.border-name {
color: #424d4be0;
margin-right: 16em;
font-size: 40px;
}

h4 {
font-size: 24px;
}
header {
background: beige;
position: fixed;
top: 0px;
left: 0px;
width: 100%;
display: flex;
height: 70px;
}

header > * {
flex-grow: 1;
padding: 5px;
}



nav ul li a {
text-decoration: none;
color: black;
padding: 5px 15px;
}
h2 {
font-family: 'Redressed', cursive;
font-size: 29px;
font-weight: 300;
}

p {
font-family: 'Padauk', sans-serif;
font-size: 22px;
}
hr {
padding: 1px;
background: #776b6b;
margin-right: 10em;
margin-left: 10em;
}

header {
background: #e8e8e8;
position: fixed;
top: 0px;
left: 0px;
width: 100%;
display: flex;
height: 133px;
}

header > * {
flex-grow: 1;
padding: 5px;
}

nav ul {
display: inline-flex;
float: right;
list-style: none;
}

nav ul li a {
text-decoration: none;
color: rgb(14, 11, 11);
padding: 5px 15px;
transition: background 300ms;
}

.logo {
padding: 14px;
}

nav ul li a:hover {
background: #5f5c54;
border-radius: 5px;
color: white;
}

.main-nav ul li a.clicked {
	color: rgb(170, 26, 26);
}

.banner {
height: 65vh;
background: url(https://www.wallpapertip.com/wmimgs/36-365117_balenciaga-fond-d-cran.png);
background-size: cover;
background-attachment: fixed;
margin-top: -132px;
margin-bottom: -8px;
}

.quote {
font-family: 'Padauk';
width: 100%;
text-align: center;
padding-top: 37vh;
color: white;
text-shadow: 1px 1px 2px black;
}

.quote h2 {
font-size: 2em;
}

.front-three {margin-top: 40px;display: grid;grid-gap: 2%;grid-template-columns: 1fr 1fr;}

.wrap-container {
width: 95%;
max-width: 1200px;
margin: auto;
}

.col-img img {
object-fit: cover;
height: 100%;
width: 100%;
}

.col-img {
height: 28vh;
object-fit: fit;
}

button {
width: 100%;
padding: 10px;
background: #4f5152a6;
border: none;
border-radius: 3px;
box-shadow: 1px 1px 2px grey;
color: white;
transition: background 300ms, box-shadow 300ms;
}
button >* {
text-decoration: none;
color: white;
font-family: 'Yeon Sung', cursive;
font-size: 20px;
}
button:hover {
background: #181c1f;
box-shadow: 1px 1px 6px grey;
}

.front-two {
display: grid;
grid-gap: 10%;
grid-template-columns: 1fr 1fr;
margin: 35px 0px;
}

input[type="text"],input[type="password"],input[type="email"] {
width: 100%;
padding: 5px;
border-radius: 3px;
border: 1px solid lightgray;
box-shadow: 1px 1px 2px inset lightgray;
}

form > * {
margin: 6px 0px;
}

.banner2 {
height: 60vh;
background: url(images/bg1.jpg);
background-size: cover;
background-attachment: fixed;
color: white;
text-align: center;
}

.banner2 h1 {
padding-top: 20vh;
font-size: 2.5em;
text-shadow: 1px 1px 22px white;
}

.gallery {
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-gap: 8px;
}

.gallery img {
object-fit: cover;
height: 100%;
width: 100%;
}

footer {
background: #1d2023;
padding: 12px;
color: white;
text-align: center;
font-family: monospace;
}


@media screen and (max-width: 750px) {

.front-three, .front-two, .gallery {
display:block !important;
}

}
